<!DOCTYPE html>
<html>
<head>
  <title>Favorites</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
<a href="/all" class="show-all-link">Show All Entries</a>
<a href="/favorites" class="show-favorites-link">Show Favorites</a>

<h1>Favorites</h1>

<% if (favorites.length === 0) { %>
  <p>You have no favorites yet.</p>
<% } else { %>
  <div class="card-container">
    <% favorites.forEach(favorite => { %>
      <div class="card" data-card-id="<%= favorite.id %>" data-subject="<%= favorite.subject %>">
        <div class="card-header">
            <span class="card-title"><%= favorite.title %></span>
            <span class="favorite-star" data-card-id="<%= favorite.id %>" style="color: <%= favorite.isFavorite? 'yellow': 'gray' %>;">&#9733;</span>
        </div>
        <div class="card-body" data-subject="<%= favorite.subject %>">
            <p>Lesson: <%= favorite.lesson %></p>
            <p>Subject: <%= favorite.subject %></p>
            <p>Timestamp: <%= favorite.timestamp %></p>
            <p>Volume: <%= favorite.volume %></p>
            <p>Page: <%= favorite.page %></p>
            <p>Description: <%= favorite.description %></p>
            <p>Book Description: <%= favorite.book_description %></p>
            <p>Inventor: <%= favorite.inventor %></p>
        </div>
      </div>
    <% }); %>
  </div>
<% } %>

<a href="/">Back to Search</a>
</body>
</html>